<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatum libero facilis eius officia rem minima quas quisquam doloribus. 
            Repellat, similique non? Beatae rerum enim assumenda error tempora, autem veniam
            </p>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
        <ul>
            <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatum libero facilis eius officia rem minima quas quisquam doloribus. 
            Repellat, similique non? Beatae rerum enim assumenda error tempora, autem veniam
            </p>
        </ul>
    </div>
</div>



