<div class="row">
    <h5 id="estudios">ESTUDIOS</h5>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            Instituto Universitario Tecnológico "Pedro Emili Coll"
            Venezuela | Mayo 2004 - Noviembre 2007 Técnico
            Técnico Superior Universitario en Instrumentación
        </ul>
        <ul>
            Alura Latam ONE Marzo 2023 - Cursando
            Oracle Cloud Infrastructure / Python para Data
            Science / SQL con MySQL Server de Oracle
        </ul>
        <ul>
            Agentina Programa Julio 2022 - Cursando
            yoProgramo
        </ul>
        <ul>
            Egg Cooperation Marzo 2023 - Cursando
            Backend 1 Introducción A Java
        </ul>
    </div>

</div>
