<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>ENCRITADOR</h1>
            <P>proceso de protección de información o datos 
            mediante modelos matemáticos para mezclarlos 
            de tal manera que solo las partes que tengan 
            la clave para descifrarlos puedan accede a él.</P>
        </div>
    
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-ld-1 imagen">
            <img src="../../../assets/APEncriptador.png" class="img-fluid img-proyecto" >
        </div>
    </div>
</div>
