<div class="row" >
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/Html5Logo1.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 co-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/CSS3Logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
      <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/JSLogo18.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/GitHubLogo10.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    
   