<div class="row" >
    <h1>Hard & Soft SKILLS</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../assets/Html5Logo1.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 co-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../assets/CSS3Logo.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 col-lg-2">
      <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../assets/JSLogo18.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [imageSrc]="'../assets/GitHubLogo10.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [imageSrc]="'../assets/GitHubLogo10.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [imageSrc]="'../assets/GitHubLogo10.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>

    
    
    
    
    

   